/* * {
  color: rgb(255, 255, 255);
} */
body {
  background-color: rgb(255, 255, 255);
  padding: 0;
}

@media screen and (min-width: 1400px) {
  body:before,
  body:after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: calc((100% - 1400px) / 2);
    background-color: rgb(77, 77, 77);
    z-index: -1;
  }

  body:before {
    left: 0;
  }

  body:after {
    right: 0;
  }

  body {
    padding: 0 calc((100% - 1400px) / 2);
  }
}

.bodyLayout {
  display: flex;
}
