.navLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5 px 30px;
}

.menuPart {
  display: flex;
  justify-content: flex-end;
}

.dropDownNavStyles {
  color: rgb(8, 131, 149) !important;
  text-decoration: inherit;
}
#navDropdown {
  color: white;
  font-weight: bold;
}
